/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* Primary */
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 77%);
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
}

main {
    max-width: 1440px;
    width: 100%;
    display: flex;
    padding: 1rem;
    height: auto;
    min-height: 100vh;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    background-color: var(--Grayish-Blue);
}

body:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-image: url('img/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
}

