/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* Colors */
    /* Primary */
    --Bright-orange: #e38826;
    --Dark-cyan: #006970;
    --Very-dark-cyan: #004241;

    /* Neutral */
    --Transparent-white-p: rgba(255, 255, 255, 0.75);
    --Very-light-gray-background-headings-buttons-: #f2f2f2;
}

body {
    background-color: var(--Very-light-gray-background-headings-buttons-);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}

main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    border-radius: 10px;
}

article {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 3rem;
    max-width: 305px;
    width: 100%;

    picture {
        margin-bottom: 2rem;

        img {
            max-width: 100%%;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            display: block;
        }
    }

    .title {
        font-family: 'Big Shoulders Display', cursive;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        color: var(--Very-light-gray-background-headings-buttons-);
        margin-bottom: 2rem;
    }

    p {
        font-family: 'Lexend Deca', sans-serif;
        color: var(--Transparent-white-p);
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    a {
        max-width: 145px;
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        font-size: 15px;
        font-family: 'Lexend Deca', sans-serif;
        color: var(--Bright-orange);
        text-transform: capitalize;
        border-radius: 50px;
        background-color: var(--Very-light-gray-background-headings-buttons-);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}

article:nth-child(1) {
    background-color: var(--Bright-orange);

    a {
        color: var(--Bright-orange);
    }
}

article:nth-child(2) {
    background-color: var(--Dark-cyan);

    a {
        color: var(--Dark-cyan);
    }
}

article:nth-child(3) {
    background-color: var(--Very-dark-cyan);

    a {
        color: var(--Very-dark-cyan);
    }
}

@media (min-width:785px) {
    .wrapper {
        flex-direction: row;
        transition: all 0.3s ease-in-out;
        max-width: 920px;
        width: 100%;
    }

    article > p {
        margin-bottom: 5rem;
        transition: all 0.3s ease-in-out;
    }
}

article > a:hover {
    background-color: transparent;
    outline: 2px solid #cccccc;
    color: white;

    /* Change this line to make the text white on hover */
} 
