/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* Primary */
    --main-bg: #090b1a;
    --card-bg: #1b1938;
    --accent: #aa5cdb;
    --white: #ffffff;
    --main-p: rgba(255, 255, 255, 0.75);
    --main-h: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--main-bg);
}

main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    height: 100vh;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    background-color: var(--card-bg);
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5 34px rgba(0, 0, 0, 0.15);
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.card>picture {
    position: relative;
    height: 100%;
    overflow: hidden;

    img {
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.3s ease-in-out;
    }

    .img-bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2e097c;
        z-index: 0;
        opacity: 0.6;
        width: 100%;
        height: 100%;
    }
}

.desktop-img {
    display: none;
}

.card-body {
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: clamp(28px, 4vw, 36px);
        color: var(--white);
        font-family: 'Inter', sans-serif;
        margin-bottom: 1rem;
        transition: all 0.3s ease-in-out;

        b {
            color: var(--accent);
        }
    }
}

.card-body>p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--main-p);
    font-size: 15px;
    margin-bottom: 3rem;
    font-weight: 400;
    line-height: 1.5;
    transition: all 0.3s ease-in-out;
}

.card-body ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    li {
        font-size: 28px;
        color: var(--white);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 10px;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;

        p {
            font-family: 'Lexend Deca', sans-serif;
            color: var(--main-p);
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

@media (min-width:785px) {
    .card-body {
        max-width: 100%;
        padding: 4.5rem;
        align-items: flex-start;
        text-align: left;
        width: 55%;
    }

    .card {
        flex-direction: row;
        max-width: 1107px;
        width: 100%;
        justify-content: space-between;
        transition: all 0.3s ease-in-out;

        picture {
            max-width: 100%;
            height: 100%;
        }
    }

    .desktop-img {
        display: block;
        max-width: 100%;
    }

    .mobile-img {
        display: none;
    }

    .card-body ul {
        flex-direction: row;

        li {
            align-items: flex-start;
            justify-content: flex-start;
            transition: all 0.3s ease-in-out;
        }
    }

    .card-body>p {
        margin-right: 61px;
    }
}