/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* Colors */
    /* Primary */
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);

    /* Accent */
    --Blue: hsl(248, 32%, 49%);

    /* Neutral */
    --Dark-Blue: hsl(249, 10%, 26%) ;
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--Red);
    position: relative;
}

body:before,
body:after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
}

body:before {
    background-image: url('img/bg-intro-desktop.png');
}

body:after {
    background-image: url('img/bg-intro-mobile.png');
    display: none;
}