/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* Colors */
    /* Primary */
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);

    /* Accent */
    --Blue: hsl(248, 32%, 49%);

    /* Neutral */
    --Dark-Blue: hsl(249, 10%, 26%) ;
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--Red);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

body:before,
body:after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
}

body:before {
    background-image: url('img/bg-intro-desktop.png');
}

body:after {
    background-image: url('img/bg-intro-mobile.png');
    display: none;
}

main {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-right: 168px;
    padding-left: 168px;
    z-index: 1;
}

section {
    max-width: 50%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

section:nth-of-type(1) {
    gap: 1.5rem;
    padding-right: 3rem;
}

h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 59px;
}

p {
    color: #fee9e8;
    font-size: 16px;
}

section:nth-of-type(2) {
}

.trial-notify {
}