.arrow-container::before {
    content: '';
    position: absolute;
    top: -41px;
    right: 0px;
    border-left: 52px solid rgba(0, 0, 0, 0);
    border-bottom-width: 50px;
    border-top: 0px solid transparent;
    border-right: 0 solid transparent;
    border-top-color: transparent;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: transparent;
    border-bottom-color: #f9fafb;
}

@media (min-width: 1025px) {
    .arrow-container::before {
        display: none;
    }
}