/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* ## Colors */
    /* ### Primary */
    /* #### Text */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /* #### Gradient */
    /* Background gradient: */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* ### Neutral */
    /* #### Text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* #### Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    background-color: linear-gradient(91deg, rgb(101, 101, 231) 0%, rgb(175, 103, 233) 98%);
    font-family: 'Kumbh Sans', sans-serif;

    /* background-image: linear-gradient(91deg, rgb(101, 101, 231) 0%, rgb(175, 103, 233) 98%); */
}

main {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #6862e6;
}

img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
}

section {
    max-width: 57.5rem;
    width: 100%;
    max-height: 31.875rem;
    height: 100vh;
    background-color: var(--Light-grayish-blue);
    border-radius: 1.4rem;
    display: flex;
}

.img-wrapper,
.faq-wrapper {
    max-width: 50%;
    width: 100%;
}

.faq-wrapper {
    padding: 4.375rem;

    h1 {
        text-align: left;
        text-transform: uppercase;
    }
}

.img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

img:nth-of-type(1) {
    position: absolute;
    left: -4.813rem;
    z-index: 1;
}

img:nth-of-type(2) {
    position: absolute;
    left: -5.813rem;
    top: 13.313rem;
    z-index: 2;
    max-width: 11.688rem;
    width: 100%;
}

dl {
    margin-bottom: 20px;
}

.faq-item {
    max-width: 100%;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #959595;
    padding-top: 1rem;
}

dt {
    font-weight: 400;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--Very-dark-desaturated-blue);
    transition: font-weight 350ms ease-in;
}

dd {
    margin-bottom: 15px;
    display: none;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--Soft-red);
}

.navigator {
}

.navigator img {
    width: 100%;
    max-width: 10px;
}

dt:hove,
dt:focus {
    font-weight: 700;
}

