/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* Colors */
    /* Primary */
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);

    /* Neutral */
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

body {
    background-color: var(--Cream);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    /* overflow-y: auto */
    font-family: 'DM Sans', sans-serif;
}

main {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;
    height: 100vh;
}

.wrapper {
    max-width: 540px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.header-bar {
    background-color: var(--Soft-red);
    border-radius: 1.5rem;
    height: 125px;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.new-balance {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
}

.new-balance > span {
    color: var(--Very-pale-orange);
}

.new-balance > p {
    font-size: 32px;
    color: var(--Very-pale-orange);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.info-bar {
    background-color: var(--Very-pale-orange);
    padding: 2rem;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

p.spendings {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: var(--Dark-brown);
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.bar {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bar-chat {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    margin-top: 5rem;
    margin-bottom: 3rem;
    transition: all 0.3s ease-in-out;
}

.bar-wrapper {
    max-width: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.bar-wrapper > span {
    color: var(--Soft-red);
}

.bar-wrapper:nth-child(1) .bar {
    height: 50px;
    background-color: #ec755d;
    border-radius: 6px;
}

.bar-wrapper:nth-child(2) .bar {
    height: 100px;
    background-color: #ec755d;
    border-radius: 6px;
}

.bar-wrapper:nth-child(3) .bar {
    height: 150px;
    background-color: #76b5bc;
    border-radius: 6px;
}

.bar-wrapper:nth-child(4) .bar {
    height: 90px;
    background-color: #ec755d;
    border-radius: 6px;
}

.bar-wrapper:nth-child(5) .bar {
    height: 65px;
    background-color: #ea765d;
    border-radius: 6px;
}

.bar-wrapper:nth-child(6) .bar {
    height: 125px;
    background-color: #ec755d;
    border-radius: 6px;
}

.bar-wrapper:nth-child(7) .bar {
    height: 75px;
    background-color: #ec755d;
    border-radius: 6px;
}

.chart-count {
    background-color: #3b2316;
    width: 75px;
    height: 40px;
    position: absolute;
    top: -50px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    display: none;
}

.chart-count > span {
    color: var(--Cream);
    font-weight: 600;
}

.amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-amount > span {
    color: var(--Soft-red);
}

.total-amount > p {
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: var(--Dark-brown);
}

.total-amount {
}

.from-last-month {
    text-align: right;
}

.from-last-month > span {
    color: var(--Dark-brown);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.from-last-month > p {
    color: var(--Soft-red);
}

@media (max-width:381px) {
    .header-bar,
    .info-bar {
        padding: 1rem;
        overflow: hidden;
    }

    p.spendings {
        font-size: 25px;
    }

    .bar {
        width: 80%;
    }

    .bar-chat {
        margin-top: 2rem;
        padding-bottom: 1rem;
    }
}




