/* Reset and Box Sizing */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* Root variables for color values */
:root {
    /* Primary */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

picture {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    position: relative;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url('img/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    height: 100vh;
    z-index: 0;
}

main {
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-wrapper {
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 20px;
    transition: all 0.33s  ease-in-out;
    max-height: 43.625rem;
    height: 100%;
    max-width: 28rem;
    width: 100%;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 22px 41px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hero-picture {
}

.hero-picture > img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card h1 {
    margin-top: 3.21rem;
    text-align: center;
    color: var(--Dark-blue);
    font-weight: 900;
    font-family: 'Red Hat Display', sans-serif;
    transition: all 0.33s  ease-in-out;
    font-size: 2.2rem;
}

.card > p {
    margin-top: 1.5rem;
    font-size: 16px;
    text-align: center;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    color: var(--Desaturated-blue);
    transition: all 0.33s  ease-in-out;
}

.oder-plan {
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #f8f9fe;
    border-radius: 10px;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 1.5rem;
    transition: all 0.33s  ease-in-out;
}

.oder-plan > picture {
    margin-right: 1rem;
}

.oder-plan p {
    font-size: 1rem;
    font-weight: 700;
    color: var(--Dark-blue);
}

.oder-plan span {
    font-size: 1rem;
    color: var(--Desaturated-blue);
    font-weight: 500;
}

.oder-plan a {
    margin-left: auto;
    text-decoration: underline;
    color: var(--Bright-blue);
}

.card button {
    max-width: 355px;
    width: 100%;
    max-height: 51px;
    height: 100%;
    margin-top: 1.5rem;
    background-color: var(--Bright-blue);
    color: var(--Very-pale-blue);
    border-radius: 10px;
    outline: none;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 25px 26px rgba(56, 41, 224, 0.19);
    font-weight: 900;
    font-size: 16px;
    transition: all 0.33s  ease-in-out;
    cursor: pointer;
}

.card > a {
    text-align: center;
    margin-top: 2.25rem;
    color: var(--Desaturated-blue);
    font-weight: 900;
    font-size: 16px;
}

@media (max-width:524px) {
    .card > p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .oder-plan {
        margin-left: 10px;
        margin-right: 10px;
    }

    .card > button {
        margin-right: auto;
        width: auto;
        margin-left: auto;
        padding-left: 4rem;
        padding-right: 4rem;
        height: 3.125rem;
    }

    .card-wrapper {
        width: auto;
        height: auto;
    }

    .card {
        padding-bottom: 30px;
    }
}

