/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    /* Primary Colors */
    --primary-gradient-start: hsl(236, 72%, 79%);
    --primary-gradient-end: hsl(237, 63%, 64%);

    /* Neutral Colors */
    --neutral-very-light: hsl(240, 78%, 98%);
    --neutral-light: hsl(234, 14%, 74%);
    --neutral-medium: hsl(233, 13%, 49%);
    --neutral-dark: hsl(232, 13%, 33%);
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

body::before,
body::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    z-index: -1;
}

body::before {
    background-image: url('img/bg-top.svg');
    background-repeat: no-repeat;
    background-position: right top;
    right: 0;
    top: 0;
    background-size: contain;
}

body::after {
    background-image: url('img/bg-bottom.svg');
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

main {
    max-width: 1440px;
    width: 100%;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.toggle-ctrl {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    font-size: 15px;
    color: var(--neutral-medium);
}
.toggle-switch {
    position: relative;
    width: 60px;
    height: 34px;
  }

  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }