/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* ### Primary */
    --Blue: hsl(246, 80%, 60%);
    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);

    /* ### Neutral */
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--Very-dark-blue);
    display: flex;
    justify-content: center;
}

img {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
}

main {
    max-width: 1440px;
    width: 100%;
    display: flex;
    padding: 1rem;
    height: auto;
    background-color: #491c1c;
    min-height: 100vh;
    justify-content: center;
}

.wrapper {
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.useractivity {
    background-color: var(--Dark-blue);
    overflow: hidden;
    border-radius: 1.5rem;
}

.userprofile {
    background-color: #5746ea;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    img {
        border: 5px solid #ffffff;
        border-radius: 50%;
    }

    p {
        color: var(--Soft-blue-play);
    }
}

.profileinfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.username {
    font-size: 2rem;
    color: #fff;
    font-family: 'Rubik';
    font-weight: 300;
}

.activitylists {
    background-color: var(--Dark-blue);
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        color: var(--Desaturated-blue);
        transition: all 0.3s ease;
        cursor: pointer;
        font-weight: 400;
    }
}

.activitylists li:hover {
    color: var(--Pale-Blue);
}

.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.activity {
    border-radius: 1.5rem;
    overflow: hidden;
    cursor: pointer;
}

.activity:nth-of-type(1) {
    background-color: var(--Light-red-work);

    .type-bg {
        background-image: url('media/icon-work.svg');
    }
}

.activity:nth-of-type(2) {
    background-color: var(--Soft-blue-play);

    .type-bg {
        background-image: url('media/icon-play.svg');
    }
}

.activity:nth-of-type(3) {
    background-color: var(--Light-red-study);

    .type-bg {
        background-image: url('media/icon-study.svg');
    }
}

.activity:nth-of-type(4) {
    background-color: var(--Lime-green-exercise);

    .type-bg {
        background-image: url('media/icon-exercise.svg');
    }
}

.activity:nth-of-type(5) {
    background-color: var(--Violet-social);

    .type-bg {
        background-image: url('media/icon-social.svg');
    }
}

.activity:nth-of-type(6) {
    background-color: var(--Soft-orange-self-care);

    .type-bg {
        background-image: url('media/icon-self-care.svg');
    }
}

.type-bg {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
    width: 100%;
    height: 3rem;
    padding-right: 1rem;
    transition: all 0.3s ease-in-out;
}

.type-bg:hover {
    background-position: left center;
}

.activity-type {
    padding: 2rem;
    background-color: var(--Dark-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.activity-type:hover {
    background-color: #34397b;
}

.activities-ctrl,
.activities-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activities-ctrl > span {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.activities-ctrl > i {
    color: var(--Pale-Blue);
    transition: all 0.3s ease;
}

.activities-ctrl > i:hover {
    color: #fff;
}

.activities-details > div {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: clamp(2rem, 5vh, 4rem);
}

.activities-details > p {
    color: var(--Pale-Blue);
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}